.avatarCreator{
    position: absolute;
    width: 55%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), #B3B3B3;
}

.editorBody{
    margin: auto;
    position: relative;
    top: 20px;
    width: 85%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatarCreatorScene{
    position: absolute;
    width: 49%;
    height: 100%;
}

.editorButtons{
    margin: auto;
    position: relative;
    top: 90px;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancelButton{
    width: 49%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #C2C2C2;
    color: #FFFFFF;
}

.saveButton{
    width: 49%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #000000;
    color: #FFFFFF;
}

.backButton {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;

    position: absolute;
    width: 98px;
    height: 44px;
    left: 12px;
    top: 12px;

    cursor: pointer;

    background: #000000;
    /* button shadow */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.backButtonText{
    width: 34px;
    height: 20px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}
